<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christophe.uclove">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MyListActivity"
            android:label="@string/title_activity_my_list">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity">
        </activity>

        <activity
        android:name=".FriendsActivity"
        android:label="@string/friends_activity">
        </activity>

        <activity
            android:name=".FriendPanelActivity"
            android:label="@string/friendpanel_activity">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile_activity">

        </activity>
        <activity
            android:name=".GalleryActivity"
            android:label="@string/gallery_activity">
        </activity>
        <activity
            android:name=".PeopleActivity"
            android:label="@string/people_activity">
        </activity>

        <activity
            android:name=".MsgChooseFriend"
            android:label="@string/choose_friend">
        </activity>

        <activity
            android:name=".ChatActivity"
            android:label="@string/chat_activity">
        </activity>
        <activity
            android:name=".AgeActivity"
            android:label="@string/age_activity">
        </activity>
        <activity
             android:name=".NameActivity"
             android:label="@string/name_activity">
        </activity>
        <activity
            android:name=".FirstNameActivity"
            android:label="@string/firstname_activity">
        </activity>
        <activity
            android:name=".LocationActivity"
            android:label="@string/location_activity">
        </activity>
        <activity
            android:name=".Calendar_activity"
            android:label="@string/calendar_activity">
        </activity>
        <activity
            android:name=".RequestActivity"
            android:label="@string/request_activity">
        </activity>

        <activity
            android:name=".IncomingActivity"
            android:label="@string/incoming_activity">
        </activity>

        <activity
            android:name=".OutgoingActivity"
            android:label="@string/outgoing_activity">
        </activity>

        <activity
            android:name=".RDVActivity"
            android:label="@string/rdvactivity">
        </activity>

    </application>

</manifest>
